In [2]:
a = 8
if a == 11:
    print("this is my first condition")

In [6]:
a = 6
if a > 5 :
    pass

In [7]:
a = 10
if a < 8:
    print("print this if condition is true")

In [9]:
a = 10
if a== 11:
    print("my condition is false")
else :
    print("print this")

print this

In [7]:
a= 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a ==10:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

we are trying to compare 10 with 11

In [12]:
price = 500

if price > 500:
    print("may be I wont be able to but a jacket")
elif price < 500:
    print("i will be able to buy a jacket")
elif price ==500:
    print("for sure i will be able to buy")
else :
    print("i dont know")

for sure i will be able to buy

In [8]:
l =[1,2,3,4,5,6]

In [16]:
if 2 in l:
    print("try to  perform a task")
else:
    print("do not perform this task")

try to  perform a task

In [17]:
60 in l

False

In [9]:
l

[1, 2, 3, 4, 5, 6]

In [9]:
if 10 in l:
    print("try to do a addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")
if 4 in l:
    print("this is new statement")

try to do sub
this is new statement

In [10]:
a = 400

In [11]:
b = int(input())

2336

In [12]:
b

2336

In [18]:
type(b)

int

In [15]:
price = int(input())
if price <500:
    print("i will be able to buy something")
    if price <400:
        print("i will be able to buy a jacket")
    elif price <300:
        
        print("i will be able to buy a shirt")
        if price <200:
            print("i would like to do something")
    else:
        print("i wont be able to but anything")
else:
    print("i wont be able to buy anything with this price tag")
    if price > 500:
        print("lets try something else")

499
i will be able to buy something
i wont be able to but anything

In [17]:
marks = int(input())
if marks<600:
    print("no gre")
    if marks<500:
        print("TOFEL")
        if marks<400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("you got GRE congratulation")

599
no gre
YOU GOT TOFEL

In [ ]:
val = float(input("Enter a floating point number"))
if val >= 0:
    if val == 0:
        print("Entered number is zero")
    else:
        print("Enter value is a positive number")
else:
    print("Entered number is negative number")

In [6]:
a= 10
if a <11 and a == 10:
    print("try to do something")

try to do something

In [8]:
a= "sudh"
if a =="sudh" or a =="Sudh":
    print("this is it")

this is it

In [10]:
a= 10
b= 11
c= 12
d= 13
if a == 9 or b == 11 and c ==12 and d ==13:
    print("lets do something")

lets do something

In [11]:
d = {'key1':"value", "key2": "sudh", "key3":"iNeuron"}

In [14]:
if d['key1']=="value" and d['key2']=="Sudh" and d["key3"] == "iNeuron":
    print("all values are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the values are not verified

In [15]:
d["key1"]

'value'

In [16]:
l = [1,2,3,4,5,"sudh", 234.45]

In [17]:
l[0]

1

In [18]:
l[2]

3

In [20]:
l[2:6]

[3, 4, 5, 'sudh']

In [22]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [26]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i+ str(1))

2
3
4
5
6
sudh1
235.45