In [1]:
l = [1,2,3,4,"sudh","kumar",45.56]

In [4]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [5]:
for i in l:
    pass

In [7]:
s= "sudh"
for i in s:
    print(i)

s
u
d
h

In [8]:
for i  in l:
    print(i)
else:
    print('if for loop is going to complete itself the it will execute else')

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [9]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [12]:
for i in l:
    if i =="sudh":
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
4

In [16]:
s= 'sudhanshu'
for i in s:
    if i == 'i':
        break
    print(i)
else :
    print("print string",s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [19]:
t=(4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [21]:
b={4,5,6,7,7,7,"sudh"}
for i in b:
    print(i)

4
5
6
sudh
7

In [22]:
d= {'key1':"sudh", 'contact':"sudhanshu@ineuron.ai",'position':"xyz"}

In [26]:
for i in d:
    print(i,":", d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [24]:
d['key1']

'sudh'

In [32]:
range(0,9,2)

range(0, 9, 2)

In [34]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [35]:
list(range(0,9,-1))

[]

In [45]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh", end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [48]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("sudh"), end = " ")
    for j in range(i+1):
        print("sudh", end = " ")
    for j in range(i):
        print("sudh", end = " ")
    print("\n")

          sudh

     sudh sudh sudh

sudh sudh sudh sudh sudh

In [49]:
t = (3,23,45,67,2,4,5,6)

In [51]:
t[0]

3

In [52]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [53]:
s= "ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [63]:
s= "ineuron"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [50]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [62]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [64]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [65]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhanshu@ineuron.ai'), ('position', 'xyz')])

In [67]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [70]:
l = ["sudh","kumar",3234545,"sudhanshu@ineuron.ai",345,34345353]
l1 = [] 
for i in l :
    if type(i)== int:
        l1.append(i)

In [71]:
l1

[3234545, 345, 34345353]

In [77]:
d= {1:3345345,"name":"sudh", "email_id":"sudhanshu@ineuron.ai", 234:"fsfsssf","43": "sfasf",234: "3454"}
for i in d:
    if type(i) == int :
        print(i, ":" , d[i])

1 : 3345345
234 : 3454

In [78]:
s = "aaaabbccd"

In [81]:
set(s)

{'a', 'b', 'c', 'd'}

In [83]:
for i in set(s):
    print(i , ":", s.count(i))

d : 1
c : 2
b : 2
a : 4

In [85]:
s.count("a")

4

In [86]:
i = 3232565656
for j in str(i):
    print(int(j),type(int(j)))

3 <class 'int'>
2 <class 'int'>
3 <class 'int'>
2 <class 'int'>
5 <class 'int'>
6 <class 'int'>
5 <class 'int'>
6 <class 'int'>
5 <class 'int'>
6 <class 'int'>

In [90]:
t = ("sudh", "kumar", [1,2,3,4,5], (3,4,5,6), {3:3,"key2":"kumar"})

In [109]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k, v in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [95]:
d= {4:5, 'key1':"sudh",'key2':"kumar"}

In [96]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [97]:
a=10
b=20
c=30

In [ ]:
a , b, c = 10, 20, 30
a,b,c = (10,20,30)